<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Gesture To Voice</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<nav>

<div class="logo">
Gesture To Voice
</div>

<ul>

<li>
<a href="/">
Home
</a>
</li>

<li>
<a href="/translator">
Live Translator
</a>
</li>

</ul>

</nav>

<section class="hero">

<div class="overlay">

<h1>
Gesture To Voice
</h1>

<p>

Translate Sign Language into
Text and Voice using Artificial Intelligence.

</p>

<a href="/translator" class="btn">

Start Translation

</a>

</div>

</section>

<section class="team">

<h2>Project Team</h2>

<div class="members">

<p>Manar Alhur</p>

<p> jood Alenazi</p>

<p>jumana Almarzooq</p>

<p>Nouf Alshammari</p>

<p>Alanoud Alnawmasi</p>

</div>

</section>

</body>
</html>